page-home {
    .barraFeed{
        background: rgb(7, 6, 6);
        height: 43px;
        align-items: center;

    }
    .barratitulo{
        font-size: 30px;
        height: 80px;
        text-align: left;
             
    }
    .icone{
        align-items: flex-start;
        flex: 1;
        
        height: 13%;
    }
    .cards{
      flex: 4;
      height: 80%;
      
    }
    

}